/*body elements*/
body{
    background-color: lightgray;
}


/*Navigation elements*/
#nav{
    padding:0px;
}

#brand{
    padding:15px;
    margin: 0px 0px 0px 20px;
}



/*
#nav{
    padding:0px;
}

#brand{
    padding:15px;
    margin: 0px 0px 0px 20px;
}
*/


#main{
    margin:20px;
    padding: 15px;
    width:auto;
    max-width:720px;
}

#profile_pic{
    width: 300px;
    height: 400px;
    margin:auto;
    display: block;
}

@media only screen and (min-width: 768px) {
    #profile_pic {
        float:left; 
        margin:10px;
        display:flex;
    }

}

/* portfolio elements */
.project {
    width:360px;
    height:360px;
    padding:15px;
    
}



.project img{
    width:340px;
    height:340px;
}

.project p{
    width:340px;
    position: absolute;
    bottom:5px;
}

/*footer element*/
#footer{
    text-align: center;
    height:80px;
    padding:35px;
}

#footer div{
    height:8px;
    position: absolute;
    width:100%;
    top:0px;
    left:0px;
    margin:0px;
}